<page-content>
    <ng-container header>
        <div class="text-5xl">
            {{'template.manageTemplates' | translate}}
        </div>
    </ng-container>
    <ng-container content>
        <filter-bar [expandable]="false">
            <input-string [(ngModel)]="filters.description" label="common.description" class="w-full sm:w-66-pc md:w-66-pc"></input-string>
            <select-box [(ngModel)]="filters.executiveDigitalSignStatus" label="template.executiveSign" class="w-full sm:w-33-pc md:w-33-pc" [items]="executiveStatusItems"></select-box>
            <input-date [(ngModel)]="filters.lastUpdateFrom" [utc]="false" label="licensee.lastUpdateFrom"
                class="w-full sm:w-24-pc md:w-24-pc"></input-date>
            <input-date [(ngModel)]="filters.lastUpdateTo" [utc]="false" label="licensee.lastUpdateTo" 
                class="w-full sm:w-24-pc md:w-24-pc"></input-date>
            <select-box [(ngModel)]="filters.licenseeType" label="licensee.licenseeType" class="w-full sm:w-24-pc md:w-24-pc" [items]="typeItems"></select-box>
            <input-string [(ngModel)]="filters.licenseeNumber" label="licensee.licenseeNumber" class="w-full sm:w-24-pc md:w-24-pc"></input-string>
            <ng-container buttons>
                <button mat-raised-button color="accent" (click)="search()" class="w-full md:w-auto mr-5 mb-5 md:mb-0">
                    <span>{{'common.search' | translate}}</span>
                </button>
                <button mat-raised-button (click)="clearFilters()" class="w-full md:w-auto mr-5">
                    <span>{{'common.clear' | translate}}</span>
                </button>
                <button mat-raised-button (click)="selected()" class="primary" *ngIf="canManage">
                    <span>{{'template.sign' | translate}}</span>
                </button>
            </ng-container>
        </filter-bar>

        <data-table [columns]="tableColumns" [manager]="dataTableManager" [actions]="tableActions">
        </data-table>
    </ng-container>
</page-content>