<h1 mat-dialog-title>{{'common.import' | translate}}</h1>
<mat-dialog-content>
    <form [formGroup]="form" class="flex flex-wrap justify-between items-center" *ngIf=" form">
        <input-string formControlName="description" label="common.description" class="w-full"></input-string>
        <input-file formControlName="fileId" label="imports.fileToImport" class="w-full" [url]="uploadAttachmentUrl"
            [managePreview]="false" (fileState)="onFileSelected($event)"></input-file>
        <p>{{filename}}</p>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end">
    <button mat-raised-button (click)="close()" class="mr-4">
        {{'common.undo' | translate}}
    </button>
    <button mat-raised-button color="accent" (click)="save()">
        {{'common.save' | translate}}
    </button>
</mat-dialog-actions>