<h1 mat-dialog-title>
    {{'common.import' | translate}}
</h1>
<mat-dialog-content>
    <form [formGroup]="form" class="flex flex-wrap justify-between" *ngIf="form">
        <input-string class="w-full" formControlName="description" label="common.description"></input-string>
        <input-file [managePreview]="false" formControlName="attachmentId" label="imports.fileToImport" class="w-full"
            [url]="uploadAttachmentUrl"></input-file>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end">
    <button mat-raised-button (click)="close()" class="mr-4">
        {{'common.undo' | translate}}
    </button>
    <button mat-raised-button color="accent" (click)="save()">
        {{'common.save' | translate}}
    </button>
</mat-dialog-actions>