<page-content>
    <ng-container header>
        <div class="text-5xl">
            {{'template.credentials' | translate}}
        </div>
        <!-- <button class="mt-2" mat-raised-button (click)="add()" color="accent">
            <span>{{'common.add' | translate}}</span>
        </button> -->
    </ng-container>
    <ng-container content>
        <div class="bg-card w-full p-4">
            <form [formGroup]="form" class="flex flex-wrap justify-center w-full" *ngIf="form">
                <div class="w-48-pc">
                    <input-string formControlName="username" label="template.username" class="w-full"></input-string>
                    <mat-form-field class="w-full">
                        <mat-label>Password</mat-label>
                        <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                        <button mat-icon-button type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'" matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'" [svgIcon]="'fas:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'" [svgIcon]="'fas:eye-slash'"></mat-icon>
                        </button>
                        <mat-error> {{'common.requiredPassword' | translate}} </mat-error>
                    </mat-form-field>
                </div>
            </form>
            <div class="justify-center flex flex-wrap w-full">
                <button mat-raised-button (click)="delete()" class="mr-4">
                    {{ "common.delete" | translate }}
                </button>
                <button mat-raised-button color="accent" (click)="save()">
                    {{ "common.save" | translate }}
                </button>
            </div>
        </div>
    </ng-container>
</page-content>